@{
    ViewData["Title"] = "List";
}

<h2>My Todos</h2>

<div id="ajaxContainer">
    @await Html.PartialAsync("_List")
</div>

@section Scripts {
    <script type="text/javascript">
        $('.rating')
            .each(function() {
                $(this)
                    .rating({
                        'displayOnly': true,
                        'size': 'xs',
                        'emptyStar': '<i class="glyphicon glyphicon-star"></i>'
                    });
            });
        $(document)
            .ajaxSuccess(function(evt, XHR, settings) {
                $('.rating')
                    .each(function() {
                        $(this)
                            .rating({
                                'displayOnly': true,
                                'size': 'xs',
                                'emptyStar': '<i class="glyphicon glyphicon-star"></i>'
                            });
                    });
            });
    </script>

}