    @{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>This app was developed by Christoph Buchli and Simon Beeli during the MAS Software Engineering 2015/16.</p>
