<a class="btn btn-default" role="button" asp-controller="Account" asp-action="ToggleTheme" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#themeToggleAjaxContainer">
    Toggle Theme
</a>