@using Microsoft.AspNetCore.Identity
@using Notes.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <ul class="nav navbar-nav navbar-left">
        <li class="dropdown">
            <a asp-area="" asp-controller="Notes" asp-action="Index" class="dropdown-toggle" data-toggle="dropdown">Notes</a>
            <ul class="dropdown-menu">
                <li>
                    <a asp-area="" asp-controller="Notes" asp-action="Index">View my Notes</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Notes" asp-action="Create">Create a new one</a>
                </li>
            </ul>
        </li>
    </ul>

    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}
